body {
  margin: 100px 100px 100px 100px;
  font-family: 'Bungee Hairline', cursive;
}

.text-clamp-on {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  max-width: 98%;
  line-height: 1em;
  font-weight: bold;
}

.story {
  margin-bottom: 5%;
  cursor: pointer;
}

button {
  margin-left: 90%;
}

.top-title {
  font-family: 'Codystar', cursive;
  font-size: 500%;
  font-weight: bold;
  margin-bottom: 8%;
}
