body {
  margin: 100px 100px 100px 100px;
  line-height: 1.2em;
  text-align: left;
}

.text-clamp-on {
  text-align: left;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
}

.title {
  max-width: 98%;
  line-height: 1em;
}

.story {
  margin-bottom: 0;

}

button {
  margin-left: 90%;
}
